django==5.2.15
djangorestframework==3.17.1
djangorestframework-simplejwt
firebase-admin
python-dotenv
google-cloud-storage
google-cloud-batch
networkx
requests
tqdm
obonet
snakemake
pyyaml
aiohttp
aiolimiter
duckdb
httpx
numpy
pandas
sentence-transformers
